@charset "utf-8";
/* CSS Document */

 .add1{
	 
	 padding-left:45px;
	 margin-top:-30px;
	 font-weight:bold;
	 
 }
 
 
  .add2{
	 
	 padding-left:45px;
	 margin-top:-30px;
     font-weight:bold;	 
	 
 }
 
 .add3{
	 
	 padding-left:45px;
	 margin-top:-30px;	
	 font-weight:bold;
	 
 }
 
 .add4{
	padding-left:45px;
	 margin-top:-30px;
     font-weight:bold;	 
	  
	 
 }